#container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);  
    width: 500px;
    height: 500px;
    border: 2px solid black;
}

.grid-item {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}
